body {
    background: #050505;
    color: #00ff9c;
    font-family: "Courier New", monospace;
}

h1, h2 {
    text-shadow: 0 0 8px #00ff9c;
}

.container {
    width: 90%;
    margin: auto;
}

.panel {
    border: 1px solid #00ff9c;
    padding: 15px;
    margin-top: 15px;
    box-shadow: 0 0 15px #00ff9c55;
}

button {
    background: black;
    color: #00ff9c;
    border: 1px solid #00ff9c;
    padding: 8px 15px;
    cursor: pointer;
}

button:hover {
    background: #00ff9c;
    color: black;
}

canvas {
    max-width: 300px;
    margin: auto;
}


.panel {
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px #00ff9c;
    }
    to {
        box-shadow: 0 0 25px #00ff9c;
    }
}
