<!-- app/templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cloud AI Log Analyzer</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/dark_theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hacker_green.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<div class="watermark">CLOUD-AI</div>

<div class="terminal">
    {% block content %}{% endblock %}
</div>

<script src="{{ url_for('static', filename='js/typing_effect.js') }}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
